*{
    margin:0;
    padding: 0;
}

footer{
    position: fixed;
    bottom: 0;
}


.table {
    width: 100%;
    table-layout: fixed;
  }

  .table td {
    word-wrap: break-word;
  }



.navbar{
    background-color: aqua;
}

.navbar-nav{
    margin-left:auto;
    
}

.navbar-collapse{
    flex-grow: unset;
}

.navbar-nav li{
    margin-right: 20px;
    font-size: large;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {  
    margin: 10px;
  }

  .card-body{
    margin: 10px;
    
  }